

  .step{
    width: 50%;
    height: 100px;
    .mat-stepper-horizontal {
      margin-top: 8px;
    }
    
    .mat-form-field {
      margin-top: 16px;
    }
}

.submit{
    margin-top: 100px;
    margin-left: 50px;
}