<p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" 
      aria-label="Example icon-button with menu icon"
     (click)="SideBareOpend=!SideBareOpend"
   >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Configuration Center</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
</p>

<div class="content">
  <mat-drawer-container class="example-container">
      <mat-drawer mode="side" [opened]="SideBareOpend">
          <mat-list role="list">

              <mat-list-item role="listitem">
                <span class="material-icons">people</span>
                <a routerLink="/user">Employee</a>
              </mat-list-item>

              <mat-list-item role="listitem">
                <span class="material-icons">
                  grid_view
                  </span>
                <a routerLink="/automationConfig">Automation Config</a>
              </mat-list-item>

              <mat-list-item role="listitem">
                <span class="material-icons">
                  schedule
                  </span>
                <a routerLink="/automationSchedule">Automation Schedule</a>
              </mat-list-item>
            </mat-list>
      </mat-drawer>

      <mat-drawer-content>
          <router-outlet></router-outlet>
      </mat-drawer-content>
    </mat-drawer-container>
</div>